/* body{
    width: 100%;
    height: 100%;
} */
.container{
    background: url('https://m.media-amazon.com/images/I/71tgB8xocBL.jpg')no-repeat center center;
    background-size:cover;
    background-position: center;
    margin: 0;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    transition: transform 1s ease;    
}
input{
    background-color: bisque;
    border: 2px solid black;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 20px;
    color:red;   
    width: 100%;
    height: 40px;
}
input::placeholder{
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bolder;
}
button{
    font-size: 20px;
    border: 1px solid rgb(3, 3, 3);
    border-radius: 20px;
    background-color: rgb(32, 228, 48);
    margin-top: 20px;
    width: 100%;
    height: 40px;
}
h1{
    text-align: center;
}
.Listtext{
    color: rgb(0, 0, 0);
    font-size:xx-large;
    font-weight: 800;
    padding: 3px;
    cursor:pointer;
    background-color: rgb(176, 184, 190);
}
.editButton {
    background-color: #f306d3;
    color: white;
    padding: 5px 10px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    font-weight: 800;
    letter-spacing: 1px;
}
.editButton:hover {
    background-color: #45a049;
}.removeButton{
    background-color: #2a06f3;
    color: white;
    padding: 5px 10px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    font-weight: 800;
    letter-spacing: 1px;
}
.removeButton:hover {
    background-color: #ff3c00;
}
